<mat-card  >
    <mat-card-title>
      <span class="dot" style='background-color:#f87800'></span> HP Bearings 
        </mat-card-title>
        <mat-card-content>
            <!-- <Div style='background-color:#b81919'> -->
        <div class="row">
            <div class="col" >
                <table style="width:100%">
                    <tr>
                      <th>DE</th>
                      <th>Vibration</th>
                      <th><mat-icon>arrow_upward</mat-icon></th>
                      <th><span class="dot" style='background-color:#f87800'></span></th>
                      <th>Temperature</th>
                      <th><mat-icon>arrow_upward</mat-icon></th>

                      <th><span class="dot" style='background-color:#27f015'></span></th>
                    </tr>
                    <tr>
                        <th>NDE</th>
                        <th>Vibration</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
                        <th><span class="dot" style='background-color:#27f015'></span></th>
                        <th>Temperature</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
  
                        <th><span class="dot" style='background-color:#27f015'></span></th>
                      </tr>
                  </table>
                  <br>

                  <table style="width:100%">
                    <tr>
                      <th>DE</th>
                      <th>Vibration</th>
                      <th>25 mm/s</th>
                      <th><mat-icon>arrow_upward</mat-icon></th>
                      <th><span class="dot" style='background-color:#f87800'></span></th>
                      <th>Temperature</th>
                      <th>25 C</th>

                      <th><mat-icon>arrow_upward</mat-icon></th>

                      <th><span class="dot" style='background-color:#27f015'></span></th>
                    </tr>
                    <tr>
                        <th>NDE</th>
                        <th>Vibration</th>
                        <th>15 mm/s</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
                        <th><span class="dot" style='background-color:#27f015'></span></th>
                        <th>Temperature</th>
                        <th>23 C</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
  
                        <th><span class="dot" style='background-color:#27f015'></span></th>
                      </tr>
                  </table>
            </div>
        </div>
        
        </mat-card-content>
</mat-card>

<br>

<mat-card  >
    <mat-card-title>
      <span class="dot" style='background-color:#f87800'></span> LP Bearings 
        </mat-card-title>
        <mat-card-content>
            <!-- <Div style='background-color:#b81919'> -->
        <div class="row">
            <div class="col" >
                <table style="width:100%">
                    <tr>
                      <th>DE</th>
                      <th>Vibration</th>
                      <th><mat-icon>arrow_upward</mat-icon></th>
                      <th><span class="dot" style='background-color:#f87800'></span></th>
                      <th>Temperature</th>
                      <th><mat-icon>arrow_upward</mat-icon></th>

                      <th><span class="dot" style='background-color:#27f015'></span></th>
                    </tr>
                    <tr>
                        <th>NDE</th>
                        <th>Vibration</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
                        <th><span class="dot" style='background-color:#27f015'></span></th>
                        <th>Temperature</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
  
                        <th><span class="dot" style='background-color:#27f015'></span></th>
                      </tr>
                  </table>
                  <br>

                  <table style="width:100%">
                    <tr>
                      <th>DE</th>
                      <th>Vibration</th>
                      <th>25 mm/s</th>
                      <th><mat-icon>arrow_upward</mat-icon></th>
                      <th><span class="dot" style='background-color:#f87800'></span></th>
                      <th>Temperature</th>
                      <th>25 C</th>

                      <th><mat-icon>arrow_upward</mat-icon></th>

                      <th><span class="dot" style='background-color:#27f015'></span></th>
                    </tr>
                    <tr>
                        <th>NDE</th>
                        <th>Vibration</th>
                        <th>15 mm/s</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
                        <th><span class="dot" style='background-color:#27f015'></span></th>
                        <th>Temperature</th>
                        <th>23 C</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
  
                        <th><span class="dot" style='background-color:#27f015'></span></th>
                      </tr>
                  </table>
            </div>
        </div>
        
        </mat-card-content>
</mat-card>

<br>

<mat-card  >
    <mat-card-title>
        <span class="dot" style='background-color:#f87800'></span> MP Bearings 
        </mat-card-title>
        <mat-card-content>
            <!-- <Div style='background-color:#b81919'> -->
        <div class="row">
            <div class="col" >
              <table class="table table-striped" style="width:100%">
                    <tr>
                      <th>DE </th>
                      <th>Vibration</th>
                      <th><span class="dot" style='background-color:#f87800'></span></th>
                      <th>Temperature</th>
                      <th><span class="dot" style='background-color:#27f015'></span></th>
                    </tr>

                    <tr>
                        <th></th>
                        <th>25 mm/s</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
                        <th>25C</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
                      </tr>



                    <tr>
                      <th>NDE</th>
                      <th>Vibration</th>
                      <th><span class="dot" style='background-color:#f87800'></span></th>
                      <th>Temperature</th>
                      <th><span class="dot" style='background-color:#27f015'></span></th>
                    </tr>

                    <tr>
                        <th></th>
                        <th>25 mm/s</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
                        <th>25C</th>
                        <th><mat-icon>arrow_upward</mat-icon></th>
                      </tr>
                  </table>


            </div>
        </div>
        
        </mat-card-content>
</mat-card>
