<mat-card>
  <mat-card-title>
    <span class="dot" style='background-color:#f87800'></span> Oil Quality <app-popup></app-popup>
      </mat-card-title>
      <mat-card-content>
          <!-- <Div style='background-color:#b81919'> -->
              <div class="container">
                  <div class="row">
                      <table style="width:100%">
                          <tr>
                              <td><span class="dot" style='background-color:#f87800'></span></td>
                              <td>Particulate </td>
                              <td>0.8 dS/m</td>
                          </tr>
                          <tr>
                              <span class="dot" style='background-color:#27f015'></span>
                              <td>Viscosity</td>
                              <td></td>
                          </tr>

                          <tr>
                            <td></td>
                            <td><span class="dot" style='background-color:#f87800'></span></td>
                            <td>Viscosity 1</td>
                            <td>1.3 N&middot;s/m<sup>2</sup></td>
                            <td>Temperature</td>
                            <td>25 &deg;C</td>
                        </tr>
                        
                        <tr>
                          <td></td>
                          <td><span class="dot" style='background-color:#f87800'></span></td>
                          <td>Viscosity 2</td>
                          <td>0.8 N&middot;s/m<sup>2</sup></td>
                          <td>Temperature</td>
                          <td>100 &deg;C</td>
                      </tr>

                      <tr>
                        <td></td>
                        <td><span class="dot" style='background-color:#f87800'></span></td>
                        <td>Viscosity 3</td>
                        <td>0.6 N&middot;s/m<sup>2</sup></td>
                        <td>Temperature</td>
                        <td>150 &deg;C</td>
                    </tr>

                          <tr>
                              <span class="dot" style='background-color:#27f015'></span>
                              <td>Demulsibility</td>
                              <!-- <td>23 mL(oil)/mL(water)</td> -->
                              <td>23 mg/l</td>
                          </tr>
                          <tr>
                              <span class="dot" style='background-color:#f87800'></span>
                              <td>Foaming tendency</td>
                              <td>23 ml/mL</td>
                              </tr>
                          </table>
                  </div>
              </div>
      </mat-card-content>
</mat-card>