<div class="container">
    <mat-card  >
        <mat-card-title>
          <span class="dot" style='background-color:#27f015'></span> Water Quality  <app-popup></app-popup>
            </mat-card-title>
            <mat-card-content>
            <div class="row">
                <div class="col" >
                    <table style="width:100% " >
                        <tr>
                          <th>Conductivity</th>
                          <th></th>
                          <th><span class="dot" style='background-color:#f87800'></span></th>
                        </tr>
                        <tr>
                          <td>0.8</td>
                          <td>μS/cm</td>
                          <td></td>
                        </tr>
                      </table>
                </div>

            </div>
            <br>


            <Div  class="row">
                <div class="col-8" >

                      <table style="width:100%">
                        <tr>
                          <th>Ph </th>
                          <th>OK</th>
                          <th><span class="dot" style='background-color:#f87800'></span></th>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td></td>
                          <span class="dot" style='background-color:#27f015'></span>
                        </tr>
                      </table>

                </div>
                <div class="col-2 align-self-start">
                    <span class="dot" style='background-color:#f87800'></span>
                </div>
            </Div>
            <Div  class="row">
                <div class="col-8" >
                    <table style="width:100% " >
                        <tr>
                          <th>Demulsibility </th>
                          <th></th>
                          <th></th>


                        </tr>
                        <tr>
                          <td>12</td>
                          <td>mg/L</td>

                        </tr>

                      </table>
                </div>
                <div class="col-2 align-self-start">
                    <span class="dot" style='background-color:#f80000'></span>
                </div>
            </Div>
            <Div  class="row">
                <div class="col-8" >
                    <table style="width:100% " >
                        <tr>
                          <th>Foaming tendency</th>
                          <th></th>
                          <th></th>

    
                        </tr>
                        <tr>
                          <td>23</td>
                          <td>ml/mL</td>

                        </tr>

                      </table>
                </div>
                <div class="col-2 align-self-start">
                    <span class="dot" style='background-color:#f80000'></span>
                </div>
            </Div>
            
            </mat-card-content>
    </mat-card>
</div>

<br>

<div class="container">
  <mat-card  >
      <mat-card-title>
        <span class="dot" style='background-color:#27f015'></span> Water Quality  <app-popup></app-popup>
          </mat-card-title>
          <mat-card-content>
          <div class="row row justify-content-around">
              <div class="col" >
                  <table  class="table">
                      <tr>
                        <th>Conductivity </th>
                        <th><span class="dot" style='background-color:#27f015'></span></th>
                      </tr>
                      <tr>
                        <td>0.8</td>
                        <td>μS/cm</td>
                      </tr>

                    </table>
              </div>



            <div class="col" >
              <table  class="table">
                  <tr>
                    <th>Ph </th>
                    <th><span class="dot" style='background-color:#27f015'></span></th>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td></td>
                  </tr>

                </table>
          </div>

          <div class="col" >
            <table  class="table">
                <tr>
                  <th>Silica content</th>
                  <th><span class="dot" style='background-color:#27f015'></span></th>
                </tr>
                <tr>
                  <td>26</td>
                  <td>mg/l</td>
                </tr>

              </table>
        </div>
          </div>
          <br>
          </mat-card-content>
  </mat-card>
</div>