<div class="container">
    <mat-card  >
        <mat-card-title>
            Water Quality <app-popup></app-popup>
            </mat-card-title>
            <mat-card-content>
                <!-- <Div style='background-color:#b81919'> -->
            <div class="row">
                <div class="col-8" >
                    <table style="width:100% " >
                        <tr>
                          <th>Particulate </th>
                          <th></th>
                          <th></th>

                          <!-- <th><span class="dot" style='background-color:#27f015'></span></th> -->
                        </tr>
                        <tr>
                          <td>0.8</td>
                          <td>dS/m</td>

                        </tr>

                      </table>
                </div>
                <br>

                <div class="col-2 align-self-start">
                    <span class="dot" style='background-color:#27f015'></span>
                </div>
            </div>


            <Div  class="row">
                <div class="col-8" >

                      <table style="width:100%">
                        <tr>
                          <th>Viscosity </th>
                          <th>OK</th>
                          <th><span class="dot" style='background-color:#f87800'></span></th>
                        </tr>
                        <tr>
                          <td>Viscosity 1</td>
                          <td>unit</td>
                          <span class="dot" style='background-color:#27f015'></span>
                        </tr>
                        <tr>
                          <td>Viscosity 2</td>
                          <td>unit</td>
                          <span class="dot" style='background-color:#27f015'></span>
                        </tr>
                        <tr>
                            <td>Viscosity 3</td>
                            <td>unit</td>
                            <span class="dot" style='background-color:#f87800'></span>
                          </tr>
                      </table>

                </div>
                <div class="col-2 align-self-start">
                    <span class="dot" style='background-color:#f87800'></span>
                </div>
            </Div>
            <Div  class="row">
                <div class="col-8" >
                    <table style="width:100% " >
                        <tr>
                          <th>Demulsibility </th>
                          <th></th>
                          <th></th>

                          <!-- <th><span class="dot" style='background-color:#27f015'></span></th> -->
                        </tr>
                        <tr>
                          <td>12</td>
                          <td>mg/L</td>

                        </tr>

                      </table>
                </div>
                <div class="col-2 align-self-start">
                    <span class="dot" style='background-color:#f80000'></span>
                </div>
            </Div>
            <Div  class="row">
                <div class="col-8" >
                    <table style="width:100% " >
                        <tr>
                          <th>Foaming tendency</th>
                          <th></th>
                          <th></th>

                          <!-- <th><span class="dot" style='background-color:#27f015'></span></th> -->
                        </tr>
                        <tr>
                          <td>23</td>
                          <td>ml/mL</td>

                        </tr>

                      </table>
                </div>
                <div class="col-2 align-self-start">
                    <span class="dot" style='background-color:#f80000'></span>
                </div>
            </Div>
            
            </mat-card-content>
    </mat-card>
</div>