
  <mat-card  >
    <mat-card-title>
      <span class="dot" style='background-color:#f87800'></span> Water Quality <app-popup></app-popup>
        </mat-card-title>
        <mat-card-content>
            <!-- <Div style='background-color:#b81919'> -->
                <div class="container">
                    <div class="row">
                        <table style="width:100%">
                            <tr>
                                <td><span class="dot" style='background-color:#f87800'></span></td>
                                <td>Conductivity </td>
                                <td>36 Mpa </td>
                            </tr>
                            <tr>
                                <span class="dot" style='background-color:#27f015'></span>
                                <td>Demulsibility</td>
                                <td>12 mg/l</td>
                            </tr>
                            <tr>
                                <span class="dot" style='background-color:#27f015'></span>
                                <td>Foaming tendency</td>
                                <td>23 ml/ml</td>
                            </tr>
                            <tr>
                                <span class="dot" style='background-color:#f87800'></span>
                                <td>Viscosity 3</td>
                                <td>unit</td>
                                </tr>
                            </table>
                    </div>
                </div>
        </mat-card-content>
</mat-card>


