<mat-card>
    <div class="text">
      <mat-card-title>
        <span class="dot" style='background-color:#b81919'></span> Assemby 1<app-popup></app-popup>
      </mat-card-title>
      <mat-card-content>
        <table style="width:100%">
            <tr>
                <td><span class="dot" style='background-color:#f87800'></span></td>
                <td><h5>Concentricity</h5></td>
                <td>0.6 </td>
            </tr>
            <tr>
                <td><span class="dot" style='background-color:#b81919'></span></td>
                <td><h5>Count Out Of Specification</h5></td>
                <td></td>
            </tr>
            <tr>
            </table>

            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <mat-card style='background-color:#b81919'>
                            <mat-card-title>
                                Under
                              </mat-card-title>
                              <mat-card-content>
                                <p>9/36</p>
                              </mat-card-content>
            
                        </mat-card>
                    </div>
                  <div class="col-2">
                    <mat-card  style='background-color:#f87800'>
                        <mat-card-title>
                            Over
                          </mat-card-title>
                          <mat-card-content>
                            <p>3/36</p>
                          </mat-card-content>
                    </mat-card>
                  </div>
                  
                </div>

            </div>

      </mat-card-content>
        
    </div>
</mat-card>

<br>


<mat-card>
    <mat-card-title>
      <span class="dot" style='background-color:#f87800'></span> Assemby 2<app-popup></app-popup>
        </mat-card-title>
        <mat-card-content>
                <div class="container">
                    <div class="row">
                        <table style="width:100%">
                            <tr>
                                <td><span class="dot" style='background-color:#f87800'></span></td>
                                <td>Concentricity</td>
                                <td>0.8</td>
                            </tr>



                            <tr>
                                <span class="dot" style='background-color:#27f015'></span>
                                <td>Count Out Of Specification</td>
                                <td></td>
                            </tr>
  
                            <tr>
                              <td></td>
                              <td></td>
                              <td>            
                                <mat-card style='background-color:#b81919'>
                                <mat-card-title>
                                    Under 9/36
                                  </mat-card-title>
                                  <mat-card-content>
                                    <!-- <p>9/36</p> -->
                                  </mat-card-content>
                                </mat-card>
                              </td>
                              <td>        
                                <mat-card  style='background-color:#f87800'>
                                <mat-card-title>
                                    Over 3/36
                                  </mat-card-title>
                                  <mat-card-content>
                                    <p></p>
                                  </mat-card-content>
                                  </mat-card>
                              </td>
                              <td></td>
                              <td></td>
                          </tr>
                            </table>
                    </div>
                </div>
        </mat-card-content>
  </mat-card>

  <br>


  <mat-card>
    <mat-card-title>
      <span class="dot" style='background-color:#b81919'></span> Assemby 3<app-popup></app-popup>
        </mat-card-title>
        <mat-card-content>
                <div class="container">
                    <div class="row">
                        <table style="width:100%">
                            <tr>
                                <td><span class="dot" style='background-color:#f87800'></span></td>
                                <td>Concentricity </td>
                                <td>0.8</td>
                            </tr>
                            <tr>
                                <span class="dot" style='background-color:#b81919'></span>
                                <td>Count Out Of Specification</td>
                                <td>Total</td>
                                <td>36</td>

                            </tr>
  
                            <tr>
                              <td></td>
                              <td><span class="dot" style='background-color:#b81919'></span></td>
                              <td>Under</td>
                              <td>9/36</td>
                              <td></td>
                              <td></td>
                          </tr>
                          
                          <tr>
                            <td></td>
                            <td><span class="dot" style='background-color:#f87800'></span></td>
                            <td>Over</td>
                            <td>3/36</td>
                            <td></td>
                            <td></td>
                        </tr>
  

                      </table>
                    </div>
                </div>
        </mat-card-content>
  </mat-card>
