<div class="container">
    <!-- Top row L Img R Pressure*3-->
    <div class="row">
        <div class="col-6">
            <mat-card style='background-color:#b81919'>
                <mat-card-title>
                    Under
                  </mat-card-title>
                  <mat-card-content>
                    <p>9/36</p>
                  </mat-card-content>

            </mat-card>
        </div>
      <div class="col-6">
        <mat-card  style='background-color:#f87800'>
            <mat-card-title>
                Over
              </mat-card-title>
              <mat-card-content>
                <p>3/36</p>
              </mat-card-content>
        </mat-card>
      </div>