<!-- <div class="container">
    <mat-card  >
        <mat-card-title>
            Extraction Lines
          </mat-card-title>
          <mat-card-content> -->
              <!-- <Div style='background-color:#b81919'> -->
            <!-- <Div>
                    <p>Extraction Lines 1 = 26 Mpa
                        <span class="dot" style='background-color:#f87800'></span>
                    </p>

            </Div>
            <Div>
                <p>Extraction Lines 2 = 36 Mpa
                    <span class="dot" style='background-color:#f87800'></span>
                </p>
            </Div>
            <Div>
                <p>Extraction Lines 1 = 46 Mpa
                    <span class="dot" style='background-color:#f87800'></span>
                </p>
            </Div>
            
          </mat-card-content>
    </mat-card> -->
      <!-- </div> -->



<div class="container">
    <mat-card  >
        <mat-card-title>
            Extraction Lines <app-popup></app-popup>
            </mat-card-title>
            <mat-card-content>
                <!-- <Div style='background-color:#b81919'> -->
            <div class="row">
                <div class="col-8" >
                    <p>Extraction Lines 1 <br>= 26 Mpa</p>
                </div>
                <div class="col-2 align-self-start">
                    <span class="dot" style='background-color:#27f015'></span>
                </div>
            </div>
            <Div  class="row">
                <div class="col-8" >
                    <p>Extraction Lines 2 <br>= 36 Mpa</p>
                </div>
                <div class="col-2 align-self-start">
                    <span class="dot" style='background-color:#f87800'></span>
                </div>
            </Div>
            <Div  class="row">
                <div class="col-8" >
                    <p>Extraction Lines 3 <br>= 46 Mpa</p>
                </div>
                <div class="col-2 align-self-start">
                    <span class="dot" style='background-color:#f80000'></span>
                </div>
            </Div>
            
            </mat-card-content>
    </mat-card>
</div>