<!-- <div class="container">
    <mat-card  >
        <mat-card-title>
            Extraction Lines
          </mat-card-title>
          <mat-card-content> -->
              <!-- <Div style='background-color:#b81919'> -->
            <!-- <Div>
                    <p>Extraction Lines 1 = 26 Mpa
                        <span class="dot" style='background-color:#f87800'></span>
                    </p>

            </Div>
            <Div>
                <p>Extraction Lines 2 = 36 Mpa
                    <span class="dot" style='background-color:#f87800'></span>
                </p>
            </Div>
            <Div>
                <p>Extraction Lines 1 = 46 Mpa
                    <span class="dot" style='background-color:#f87800'></span>
                </p>
            </Div>
            
          </mat-card-content>
    </mat-card> -->
      <!-- </div> -->



<div class="container">
    <mat-card  >
        <mat-card-title>
            Extraction Lines <app-popup></app-popup>
            </mat-card-title>
            <mat-card-content>
                <!-- <Div style='background-color:#b81919'> -->
            <div class="row">
                <table style="width:100%">
                    <tr>
                      <th>Extraction Lines 1 </th>
                      <th>36 Mpa </th>
                      <th><span class="dot" style='background-color:#f87800'></span></th>
                    </tr>
                    <tr>
                      <td>Extraction Lines 2</td>
                      <td>26 Mpa</td>
                      <span class="dot" style='background-color:#27f015'></span>
                    </tr>
                    <tr>
                      <td>Extraction Lines 3</td>
                      <td>Mpa 45</td>
                      <span class="dot" style='background-color:#27f015'></span>
                    </tr>
                    <tr>
                        <td>Viscosity 3</td>
                        <td>unit</td>
                        <span class="dot" style='background-color:#f87800'></span>
                      </tr>
                  </table>

            </div>

            
            </mat-card-content>
    </mat-card>
</div>