<!-- <div class="container">
    <mat-card  >
        <mat-card-title>
            Extraction Lines
          </mat-card-title>
          <mat-card-content> -->
              <!-- <Div style='background-color:#b81919'> -->
            <!-- <Div>
                    <p>Extraction Lines 1 = 26 Mpa
                        <span class="dot" style='background-color:#f87800'></span>
                    </p>

            </Div>
            <Div>
                <p>Extraction Lines 2 = 36 Mpa
                    <span class="dot" style='background-color:#f87800'></span>
                </p>
            </Div>
            <Div>
                <p>Extraction Lines 1 = 46 Mpa
                    <span class="dot" style='background-color:#f87800'></span>
                </p>
            </Div>
            
          </mat-card-content>
    </mat-card> -->
      <!-- </div> -->




<mat-card  >
    <mat-card-title>
        Extraction Lines <app-popup></app-popup>
        </mat-card-title>
        <mat-card-content>
            <!-- <Div style='background-color:#b81919'> -->
                <div class="container">
                    <div class="row">
                        <table style="width:100%">
                            <tr>
                                <td><span class="dot" style='background-color:#f87800'></span></td>
                                <td>Extraction Lines 1 </td>
                                <td>10 Bar </td>
                            </tr>
                            <tr>
                                <span class="dot" style='background-color:#27f015'></span>
                                <td>Extraction Lines 2</td>
                                <td>4 Bar</td>
                            </tr>
                            <tr>
                                <span class="dot" style='background-color:#27f015'></span>
                                <td>Extraction Lines 3</td>
                                <td>1.31 Bar</td>
                            </tr>
                            <tr>
                                <span class="dot" style='background-color:#f87800'></span>
                                <td>Extraction Lines 4</td>
                                <td>0.4 Bar</td>
                            </table>
                    </div>
                </div>
        </mat-card-content>
</mat-card>
