<div class="row">
    <div class="col-8">
      <img src="assets/img/Rotor.png" class="img-fluid" alt="Responsive image"  >
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col">
                <mat-card >
                    <mat-card-title>
                        <span class="dot" style='background-color:#f87800'></span> Pressure Ratio<app-popup></app-popup>
                        </mat-card-title>
                    <mat-card-content>
                        <div class="container">
                            <!-- <div class="row">
                                <table style="width:100%">
                                    <tr>
                                        <th><h3>
                                            &Delta; P2
                                        </h3></th>
                                        <th>36 Mpa </th>
                                    </tr>
                                    <tr>
                                        <th><h3>
                                            &Delta; P2 / &Delta; P2
                                        </h3></th>
                                        <th>36 Mpa </th>
                                    </tr>
                                    </table>
                            </div> -->
        
                            <div class="jumbotron" style='background-color:#319631'>
                                <table style="width:100%">
                                    <tr>
                                        <th><h3>
                                            &Delta; P2
                                        </h3></th>
                                        <th>36 Mpa </th>
                                    </tr>
                                    </table>
                                </div>
        
                            <div class="jumbotron" style='background-color:#f87800'>
                                <table style="width:100%">
                                    <tr>
                                        <th><h3>
                                            &Delta; P2 / &Delta; P2
                                        </h3></th>
                                        <th>36 Mpa </th>
                                    </tr>
                                    </table>
                                </div>
        
                            
        
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <mat-card >
                    <mat-card-content>
                        <div class="row">
                            <div class="col-6">
                                <mat-card style='background-color:#b81919'>
                                    <mat-card-title>
                                        Water Quality
                                      </mat-card-title>
                                      <mat-card-content>
                                        <p>Bad</p>
                                      </mat-card-content>
                    
                                </mat-card>
                            </div>
                          <div class="col-6">
                            <mat-card  style='background-color:#f87800'>
                                <mat-card-title>
                                    Oil Quality
                                  </mat-card-title>
                                  <mat-card-content>
                                    <p>Fine</p>
                                  </mat-card-content>
                            </mat-card>
                          </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>

        <br>

    </div>
  </div>
  <br>

  <!-- style='background-color:#319631' -->