<div>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <img src="assets/img/Rotor.png" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-4">
        <app-info-card label="Pressure One" total="7" data=cards></app-info-card>
        <app-info-card label="Pressure Two" total="17"></app-info-card>
        <app-info-card label="Pressure Three" total="27"></app-info-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-popup ></app-popup>
      </div>
      <div class="col-5">
        <app-popover></app-popover>
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </div>
<!-- 
  <mat-card fxLayout="column" fxLayoutGap="30px" style="height:200px;">

    <mat-card class="child-1">
      <img src="assets/img/Rotor.png">  
     
    </mat-card> 
    <mat-card class="child-2">1. Two</mat-card> 
  
  
  
  </mat-card>


  <img src="assets/img/Rotor.png">
  <app-info-card label='Pressure' total="1.5"></app-info-card>
</div>


<div>One</div> -->